<section class="share">
    <h3>分享到：(Share)</h3>
    <!--<a aria-label="Share on Twitter" href="https://twitter.com/intent/tweet?text=&quot;{{ page.twitter_text }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.twitter_username }}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on Twitter">
        <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
    </a>
    <a aria-label="Share on Facebook"href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share on Facebook">
        <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
    </a>
    <a aria-label="Share on Google Plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
    onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Share on Google+">
        <svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg>
    </a>-->
    <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style_32x32" style="width: 204px;height: 32px;margin: 0 auto;">
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_cqq"></a>
        <a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript" src="//v3.jiathis.com/code/jia.js?uid=2123312" charset="utf-8"></script>

    <!-- JiaThis Button END -->


    <div class="bshare-custom">
        <a title="分享到QQ空间" class="bshare-qzone"></a>
        <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
        <a title="分享到人人网" class="bshare-renren"></a>
        <a title="分享到腾讯微博" class="bshare-qqmb"></a>
        <a title="分享到QQ好友" class="bshare-qqim"></a>
        <a title="分享到微信" class="bshare-weixin"></a>
        <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
        <span class="BSHARE_COUNT bshare-share-count">0</span>
    </div>
    <script type="text/javascript" charset="utf-8" src="//static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=daf8601f-358f-4616-8155-3c40f8af06bf&amp;pophcol=2&amp;lang=zh"></script>
    <script type="text/javascript" charset="utf-8" src="//static.bshare.cn/b/bshareC0.js"></script>

</section>